.crypto_list {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .crypto_list {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .crypto_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .crypto_list {
        grid-template-columns: repeat(3, 1fr);
    }
}